<!DOCTYPE html>
html(lang="en")
    head
        title Home Page
    body
        header
            nav
                ul
                    li 
                        a(href="/") Home
                    li
                        a(href="/joe") Joe
                    li
                        a(href="/dina") Dina
            h1 This h1 is from the layout.
            hr
        block content  